@import "tailwindcss";

:root {
  --background: #e2912a;
  --foreground: #e2912a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #38216e;
  --color-secondary: #2d4db1;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-childhood: var(--font-childhood);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

/* Container utilities */
@layer utilities {
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .testimonail-card {
    /* background: #41267808; */
    background: linear-gradient(
      90deg,
      rgba(65, 38, 120, 0.54) 0%,
      rgba(65, 38, 120, 0.79) 100%
    );
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    /* -webkit-backdrop-filter: blur(5px); */
    border: 2px solid #41267808;
  }

  @media (min-width: 640px) {
    .container {
      max-width: 640px;
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }

  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
    }
  }

  @media (min-width: 1280px) {
    .container {
      max-width: 1100px;
    }
  }

  @media (min-width: 1536px) {
    .container {
      max-width: 1250px;
    }
  }

  .container-fluid {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
